.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3f2b96;
  list-style-type: none;
  font-size: 1.2 rem;
  height: 8vh;
}

li {
  padding: 1rem;
  color: #fff;
}

.link {
  color: #fff;
}
